$blueberry: rgb(107,122,143);
$blueberry_dark: rgb(90,100,110);
$apricot: #F7882F;
$citrus: #F7C331;
$apple-core: #DCC7AA;

$bg-color: $blueberry;
$colour-1: $citrus;
$colour-2: $apricot;
$colour-3: $apple-core;
