.teamlist{
	height: calc(100vh - 100px);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0 auto;
	padding-top: 5vh;
	align-items: center;
	align-content: center;

	.nameblock {
		width: $startup-element-width;
		border-radius: 2px;
		text-transform: uppercase;
		margin: 0.5em;
		height: 2em;
		display: inline-block;
		position: relative;

		&:hover {
			cursor: pointer;
			& >button.editIcon {
				opacity: 1;
			}
		}


		input[type=checkbox] {
			width: 100%;
			height: 100%;
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			margin: 0;

			&:hover {
				cursor: pointer;
			}
		}

		label {
			line-height: 2em;
			color: $colour-1;
			border: 1px solid $colour-1;
			width: 100%;
			height: 100%;
			display: block;
		}

		input[type=checkbox]:checked + label {
			background: $colour-1;
			color: $bg-color;
		}

		input[type=checkbox]:not(:checked) + label + button.editIcon  {
			svg {
				.fill {
					fill: $colour-1;
				}
			}
		}

		button.editIcon {
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			padding: 8px;
			opacity: 0;
			transition: 0.5s;

			svg {
				.fill {
					fill: $bg-color;
				}
			}
		}
	}
}
